<!--
  Generated template for the VisualizarComandaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sua Comanda</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-col text-right>
      <button ion-button color="secondary" small (click)="fecharConta()">
        Fechar Conta
        <ion-icon name='arrow-forward'></ion-icon>
      </button>
    </ion-col>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let itensPedido of comidas">
      <ion-thumbnail item-start>
        <img src="{{itensPedido.item.imagem}}">
      </ion-thumbnail>
      <h2>{{itensPedido.item.nome}}</h2>
      <h3>Qtd: {{itensPedido.quantidade}}</h3>
      <ion-note item-end>
        <!-- COLOCAR AQUI UM IF PARA VERIFICAR SE O PEDIDO ESTA ATENDIDO OU NÃO -->
        Item Liberado
        <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline" color="secondary"></ion-icon>
      </ion-note>
      <!-- <ion-note item-end>Item Liberado
        <ion-icon ios="ios-close-circle" md="md-close-circle" color="danger"></ion-icon>
      </ion-note> -->
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let itensPedido of bebidas">
      <ion-thumbnail item-start>
        <img src="{{itensPedido.item.imagem}}">
      </ion-thumbnail>
      <h2>{{itensPedido.item.nome}}</h2>
      <h3>Qtd: {{itensPedido.quantidade}}</h3>
      <ion-note item-end>
        <!-- COLOCAR AQUI UM IF PARA VERIFICAR SE O PEDIDO ESTA ATENDIDO OU NÃO -->
        Item Liberado
        <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline" color="secondary"></ion-icon>
      </ion-note>
      <!-- <ion-note item-end>Item Liberado
        <ion-icon ios="ios-close-circle" md="md-close-circle" color="danger"></ion-icon>
      </ion-note> -->
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let itensPedido of outros">
      <ion-thumbnail item-start>
        <img src="{{itensPedido.item.imagem}}">
      </ion-thumbnail>
      <h2>{{itensPedido.item.nome}}</h2>
      <h3>Qtd: {{itensPedido.quantidade}}</h3>
      <ion-note item-end>
        <!-- COLOCAR AQUI UM IF PARA VERIFICAR SE O PEDIDO ESTA ATENDIDO OU NÃO -->
        Item Liberado
        <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline" color="secondary"></ion-icon>
      </ion-note>
      <!-- <ion-note item-end>Item Liberado
        <ion-icon ios="ios-close-circle" md="md-close-circle" color="danger"></ion-icon>
      </ion-note> -->
    </ion-item>
  </ion-list>
</ion-content>