<ion-header>
  <ion-navbar>
    <ion-title>See Vitual</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar (ionInput)="getEmpresas($event)" placeholder="Onde você que ir?"></ion-searchbar> -->
  <ion-searchbar (ionInput)="getEmpresas($event)" placeholder="Onde você que ir?"></ion-searchbar>
  <ion-list>
    <!-- <ion-item *ngFor="let empresa of empresasList">
      {{empresa.razaoSocial}}
    </ion-item> -->
    <button ion-item *ngFor="let empresa of empresasList" (click)="abrirPagina(empresa)" icon-start>
      <ion-icon [name]="'logo-' + empresa.logo" [ngStyle]="{'color': empresa.color}" item-start></ion-icon>
      {{empresa.razaoSocial}}
    </button>
  </ion-list>
</ion-content>
