page-criar-conta {
    .login-custom {
        background-color: #000;
        background-image: url(/assets/images/4393.jpg);
        background-size: cover;
        background-position: center;
    }
    .titulo{
        font-family: 'Roboto';
        font-size: 18px;
        position: absolute;
        margin-top: 55px;
        margin-left: -35px;
    }
    .item-md {
        color: #fff;
    }
    .item {
        background: none;
        border:none;
    }
    .label-md[floating] {
        color: white;
    }
}
